#Add files for gitignore
echo "node_modules" >> .gitignore
echo "dist" >> .gitignore
echo "coverage" >> .gitignore
echo "package-lock.json" >> .gitignore
echo "yarn.lock" >> .gitignore
echo "yarn-error.log" >> .gitignore
echo "npm-debug.log" >> .gitignore
data/.DS_Store
.DS_Store
env/*
.env
models/architectures/utilities/cache/*
models/architectures/utilities/cache_news/*
models/architectures/utilities/data/*
models/architectures/finetuned_model/*
finsightai/*
*.pyc
