
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - FinSightAI</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/login.png') }}" class="img-fluid" alt="Registration Image">
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Login to FinSightAI</h2>
                <form method="POST" action="{{ url_for('main.login') }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="email">Email</label>
                        {{ form.email(class="form-control", id="email") }}
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        {{ form.password(class="form-control", id="password") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>            
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>