<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="">

  <title> FinSightAI </title>

  <!-- bootstrap core css -->
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css" /> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <!-- <link href="css/font-awesome.min.css" rel="stylesheet" /> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  

  <!-- Custom styles for this template -->
  <!-- <link href="css/style.css" rel="stylesheet" /> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
  <!-- responsive style -->
  <!-- <link href="css/responsive.css" rel="stylesheet" /> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  

</head>

<body>

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="{{ url_for('static', filename='images/hero-bg.png') }}" alt="">
      </div>
    </div>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              FinSightAI
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.logout') }}"> <i class="fa fa-user" aria-hidden="true"></i> Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.login') }}"> <i class="fa fa-user" aria-hidden="true"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.register') }}"> <i class="fa fa-user" aria-hidden="true"></i> Register</a>
                </li>
                {% endif %}
                <form class="form-inline">
                    <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </ul>
        </div>
        
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Empowering <br> Financial Decisions <br> with AI
                    </h1>
                    <p>
                      Harness the transformative power of artificial intelligence to revolutionize decision-making processes across the financial sector. 
                    </p>
                    <div class="btn-box">
                      <a href="#about-us" class="btn1">
                        Learn More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{{ url_for('static', filename='images/slider-img.png') }}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Crypto <br>
                      Currency
                    </h1>
                    <p>
                      Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat modi impedit sequi.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{{ url_for('static', filename='images/slider-img.png') }}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Crypto <br>
                      Currency
                    </h1>
                    <p>
                      Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat modi impedit sequi.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{{ url_for('static', filename='images/slider-img.png') }}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <!-- <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol> -->
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Services</span>
          </h2>
          <p>
            Explore our specialized services designed to empower financial professionals with cutting-edge AI tools.
          </p>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/s1.png') }}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Fine-tune with Data
                </h5>
                <p>
                  Tailor AI models to your specific financial data needs, enhancing precision in forecasts and decision-making.
                </p>
                <a href="{{ url_for('main.finetune_route') }}" class="btn-blue-box">
                  Finetune
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/s2.png') }}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Chat with Finance LLM
                </h5>
                <p>
                  Engage directly with our AI-driven financial language models to gain insights and answers in real-time.
                </p>
                <a href="{{ url_for('main.chat_route') }}" class="btn-blue-box">
                  Chat
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/s3.png') }}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Verify Financial News
                </h5>
                <p>
                  Use our advanced LLMs to validate the credibility of financial news, ensuring the reliability of your information sources.
                </p>
                <a href="{{ url_for('main.verify_route') }}" class="btn-blue-box">
                  Verify
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section class="about_section layout_padding" id="about-us">
    <div class="container  ">
      <div class="heading_container heading_center">
        <h2>
          About <span>Us</span>
        </h2>
        <p>
          At FinSightAI, we are redefining the landscape of financial decision-making through advanced AI-driven insights and bespoke solutions.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/about-img.png') }}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              Simplifying Complex Decisions
            </h3>
            <p>
                In today's fast-paced financial markets, making the right decision at the right time is crucial. At FinSightAI, we leverage cutting-edge technology to simplify complex decision-making processes. Our tools digest vast amounts of data to provide clear, actionable insights, allowing our clients to respond swiftly and confidently to market dynamics.
            </p>
            <h3>
                Customized Solutions for Every Client
            </h3>
            <p>
                Understanding that no two clients are the same, we offer customized solutions tailored to the unique needs of each client. Our approach involves a deep analysis of your specific challenges and goals, ensuring that the solutions we provide are not only effective but also perfectly aligned with your business objectives.
            </p>
            <h3>
                Verifying Information with Precision
            </h3>
            <p>
                In an era where information is abundant but often unreliable, we stand out by offering rigorous verification services. Our AI-driven models are designed to scrutinize and authenticate financial news and data, providing you with a layer of security that guarantees the integrity and accuracy of the information you receive.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- footer section -->
  <section class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">FinSightAI</a>
      </p>
    </div>
  </section>
  <!-- footer section -->

  <!-- jQery -->
  <!-- <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script> -->
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <!-- <script type="text/javascript" src="js/bootstrap.js"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <!-- <script type="text/javascript" src="js/custom.js"></script> -->
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>